/backend/.phpunit.cache
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/pail
/backend/storage/debugbar
/backend/storage/framework/*
/backend/storage/logs/*
/backend/storage/oauth-private.key
/backend/storage/oauth-public.key
/backend/vendor
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpactor.json
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log
/backend/auth.json
/backend/.fleet
/backend/.idea
/backend/.nova
/backend/.vscode
/backend/.zed
/backend/npm-debug.log
/backend/yarn-error.log
.DS_Store
Thumbs.db
desktop.ini
*.orig
