/* 登入頁面容器 */
.login-page {
  width: 100%; /* 讓容器寬度佔滿螢幕 */
  height: 100vh; /* 讓容器高度佔滿螢幕 */
  margin: 0; /* 移除上下邊距 */
  padding: 20px; /* 保留內邊距 */
  border: none; 
  border-radius: 0; 
  box-shadow: none; 
  background-color: black;
  font-family: Arial, sans-serif;
}
.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}

.login-footer {
  margin-top: 10px;
  text-align: center;
}

.forgot-password-link,
.register-link {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password-link:hover,
.register-link:hover {
  text-decoration: underline;
}